header{
  height:100vh;
  padding-top: 5.5rem;
  overflow: hidden; 
}

.header__container{
  height:100%;
  text-align: center;
  position: relative;
}

.me{
  background: linear-gradient(var(--color-primary), transparent);
  width :22rem;
  height:30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding:5rem 1.5rem 1.5rem 1.5rem;
}

.scroll__down{
  font-size: 1.25rem;
  position:absolute;
  right:-2.3rem ;
  bottom: 5rem ;
  transform: rotate(90deg);
}

@media screen and (max-width:1024px){
  .container{
    background-color: red;
    height: 68vh;
  
  }
  
}
/*Small Device*/
@media screen and (max-width:600px){
  .container{
    background: yellow;
    height: 100vh;
  }
  .scroll__down {display: none;}
  
}